*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:#313338;
color:white;
height:100vh;
display:flex;
}

/* BARRE SERVEURS */

#servers{
width:72px;
background:#1e1f22;
display:flex;
flex-direction:column;
align-items:center;
padding-top:10px;
gap:10px;
}

.server{
width:50px;
height:50px;
border-radius:50%;
background:#5865f2;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
cursor:pointer;
transition:0.2s;
}

.server:hover{
border-radius:18px;
background:#4752c4;
}

/* COLONNE CANAUX */

#channels{
width:240px;
background:#2b2d31;
padding:15px;
display:flex;
flex-direction:column;
}

#channels h2{
font-size:18px;
margin-bottom:20px;
}

.channel{
padding:10px;
border-radius:5px;
cursor:pointer;
margin-bottom:5px;
color:#b5bac1;
}

.channel:hover{
background:#35373c;
color:white;
}

/* CHAT */

#main{
flex:1;
display:flex;
flex-direction:column;
}

#topbar{
height:50px;
background:#232428;
display:flex;
align-items:center;
padding-left:20px;
font-weight:bold;
border-bottom:1px solid #1a1b1e;
}

#chat{
flex:1;
overflow-y:auto;
padding:20px;
}

.message{
display:flex;
margin-bottom:20px;
}

.avatar{
width:40px;
height:40px;
border-radius:50%;
background:#5865f2;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
margin-right:10px;
flex-shrink:0;
}

.content{
background:#2b2d31;
padding:10px;
border-radius:10px;
width:fit-content;
max-width:500px;
position:relative;
}

.username{
font-weight:bold;
margin-bottom:5px;
}

.time{
font-size:11px;
color:#aaa;
margin-left:10px;
}

.delete{
position:absolute;
right:10px;
top:10px;
cursor:pointer;
color:red;
}

.content img{
max-width:300px;
margin-top:10px;
border-radius:8px;
}

/* BARRE MESSAGE */

#inputArea{
background:#383a40;
padding:20px;
display:flex;
gap:10px;
align-items:center;
}

#pseudo{
width:120px;
}

#message{
flex:1;
}

input{
padding:12px;
border:none;
border-radius:8px;
background:#1e1f22;
color:white;
}

button{
padding:12px 18px;
border:none;
border-radius:8px;
background:#5865f2;
color:white;
cursor:pointer;
}

button:hover{
background:#4752c4;
}

</body>
</html>
